<article class="comment">
    <header>
        <p>
            {{ 'post.on' | trans | capitalize}} <time datetime="{{ comment.createdAt | date('c') }}">
                {{ comment.createdAt | date }}
            </time>
            {{ 'by' | trans }} {{ comment.user.name }}
        </p>

    </header>
    <p>{{ comment.body | nl2br }}</p>

</article>