{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Post list {% endblock %}

{% block section %}
    <h1>Posts list</h1>

    <table class="record_list">
        <thead>
            <tr>
                <th>Author</th>
                <th>Created At</th>
                <th>Update At</th>
                <th>Title</th>
                <th>Body</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.author.username }}</td>
                <td>{{ post.createdAt | date('Y-m-d H:i:s') }}</td>
                <td>{% if post.updatedAt %}{{ post.updatedAt | date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body | truncate(150) }}</td>
                <td>
                    <ul>
                        {% for tag in post.tags %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blog_admin_post_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blog_admin_post_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <ul>
        <li>
            <a href="{{ path('blog_admin_post_new') }}">Create a new post</a>
        </li>
    </ul>
{% endblock %}
